@-webkit-keyframes blinker {
  from { opacity: 1.0; }
  to { opacity: 0.0; }
}

body {
  font-family: Work Sans;
  font-size: 18px;
  font-weight:400;
  color: #111111;
  background-color: #fff;
}

body::-webkit-scrollbar {
  display: none;
}

h1{
  font-size: 32px;
  font-weight: 500;
}

a { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:focus { text-decoration: none; }
a:hover, a:active { text-decoration: none; }


/* HEADER */
header {
  position:fixed;
  top: 0;
  left:2vw;
  width: 96vw;
  margin: 32px auto 32px auto;

  display: flex;
  justify-content:space-between;
  text-align: center;
}


nav a {
  font-size: 32px;
  font-weight: 500;
  color: #111111;
  text-transform: uppercase;

  transition: all 0.4s ease;
}


a:hover{
  color:#0000FF;
}

.mode {
  margin-top:10px;
  position: absolute;
  left: 0%;
  /* visibility: hidden; */
}

.mode a{
  text-transform: lowercase;
  font-size: 20px;
}

.active {
  color: #0000FF;
}


/* WORK SECTION */

section  {
  width: 92vw;
  margin: 0 auto;
}

.work2{
  margin: 90px auto 30px auto;
  max-width: 730px;
  width: 95%;
}

.project2{
  margin-bottom: 90px;
}

.hero2 {
  display: block;
  width: 100%;
  height: 420px;
  background-size: cover !important;
  background-position: 50% !important;
}


/* FOOTER SECTION */


footer {
  position:fixed;
  bottom: 32px;
  left:2vw;
}
