@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;300;400;500;600;700&display=swap');

/* secttion */
/* margin: auto; */


body {
  /* overflow: hidden; */
  font-family: Work Sans;
  font-size: 32px;
  line-height: 1.2;
  margin: 10px;
  background-color: #fafafa;
  color: #111111;
}

header{
  display: flex;
  justify-content: center;
  align-items: center;
  width:100%;
}

header div {
  width:50%;
  border: 1px;

}

nav.info{
  text-align: right;
}


nav {
  font-size: 32px;
  font-weight: 600;
  letter-spacing: 0.02em;
  /* position: fixed; */
}

section{
  max-width: 960px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

section img{
  max-width: 960px;
}

div.caption p{
  font-size: 32px;
  text-align: center;
  color: #111111;
}


 nav a {
  color: #111111;
  text-decoration: none;
  transition: color 0.3s;
}

nav a:hover {
  color: #0000ff;
}


footer{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position:fixed;
  bottom:10px;
}

footer div{
  width: 50%
}

footer nav.home{
  text-align: right;
}

/*
h1, h2 {
  text-align: center;
}

.selected {
  background-color: #fafafa;
  color: #000000;
}

p.bio{
  text-align: left;
  padding-left:5%;
  padding-right:30%;
} */



@media (max-width: 560px) {

  body{
    margin:0px;
  }

  nav.work, nav.info{
    text-align: center;
  }
}
