@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;300;400;500;600;700&display=swap');


 body {
  font-family: Work Sans;
  line-height: 1.2;
  margin: 10px;
  background-color: #fafafa;
  color: #111111;
}

header{
  display: flex;
  justify-content: center;
  align-items: center;
  width:100%;
}

header div{
  width:50%;
  border: 1px;
}

nav {
  font-size: 32px;
  font-weight: 600;
  letter-spacing: 0.02em;
}

nav.info{
  text-align: right;
}


section {
  max-width: 960px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

section p{
    font-weight:400;
    font-size:32px;
}

img.project{
  width:100%;
}


div.circle{
  width:20px;
  height:20px;
  background-color: #000000;
  border-radius: 50%;
  margin:auto;
}

div.caption p{
  font-size: 32px;
  text-align: center;
  color: #111111;
}

 nav a {
  color: #111111;
  text-decoration: none;
  transition: color 0.3s;
}

nav a.selected {
  color: #0000ff;

}
nav a:hover {
  color: #0000ff;
}


footer{
  position:fixed;
  bottom: 10px;
  left: 0;
  width: 100%;
  padding: 30px;

  display: flex;

  justify-content: center;
  align-items: center;
}

footer div{
  width: 50%
}

footer nav.home{
  text-align: right;
}






@media (max-width: 560px) {

  body{
    margin:0px;
  }

  nav.work, nav.info{
    text-align: center;
  }
}
