@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;300;400;500;600;700&display=swap');


 body {
  font-family: Work Sans;
  line-height: 1.2;
  margin: 0;
  background-color: #fafafa;
  color: #111111;
}

header{
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: red;
}

header div{
  height:100px;
  width:50%;
}

nav {
  padding: 32px;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0.04em;
}

nav.info{
  text-align: right;
}


section {
  max-width: 960px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

section p{
    font-weight:400;
    font-size:24px;
}


.slide-container {
  /* max-width: 960px;
  position: fixed; */
  /* top: 50%;
  left: 50%; */
  /* transform: translate(-50%, -50%); */
}

.slide-container .slide {
  display: none;
  width: 100%;
}

/* .slide-container .slide.fade {
  animation: fade 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
} */

.slide-container .slide img {
  width: 100%;
}


/* SLIDE CONTROL BUTTONS */

.slide-container .prev,
.slide-container .next {
  cursor: pointer;
  position: absolute;
  width: auto%;
  padding: 16px;
  color: black;
  font-weight: bold;
  font-size: 20px;
}

/* .slide-container .prev:hover,
.slide-container .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
} */

.slide-container .prev {
  left: 2px;
}

.slide-container .next {
  right: 2px;
}


/* DOTS */

.dots-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.dots-container .dot {
  margin: 5px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #E6E6E6;
}

.dots-container .dot.active {
  border: 2px solid black;
}


/* CAPTION */


.circle{
  width:20px;
  height:20px;
  background-color: #000000;
  border-radius: 50%;
  margin:auto;
}

.caption p{
  font-size: 32px;
  text-align: center;
  color: #111111;
}

 nav a {
  color: #111111;
  text-decoration: none;
  transition: color 0.3s;
}

nav a.selected {
  color: #0000ff;

}
nav a:hover {
  color: #0000ff;
}


footer{
  position:fixed;
  bottom: 0;
  width: 100%;

  background-color: red;

  display: flex;
  justify-content: center;
  align-items: center;
}

footer div{
  width: 50%
}

footer nav.home{
  text-align: right;
}







@media (max-width: 560px) {

  body{
    margin:0px;
  }

  nav.work, nav.info{
    text-align: center;
  }


  .caption {
    display: none;
  }

  .slide  {
    display: block;
  }
}
